---
import Layout from '../components/Layout.astro'
import ModuleList from '../components/ModuleList'
import AdSlot from '../components/AdSlot.astro'
import { getSiteData } from '../lib/modules'

const data = await getSiteData()
const pageCount = Math.ceil(data.listItems.length / data.pageSize)
const modules = data.listItems.slice(0, data.pageSize)
---

<Layout title="Xposed Module Repository">
  <section class="page-heading">
    <div>
      <h1>Xposed Module Repository</h1>
      <p>{data.listItems.length} modules, generated from GitHub releases.</p>
    </div>
    <a class="btn btn-primary" href="/submission/">Submit Module</a>
  </section>
  <AdSlot slot={import.meta.env.PUBLIC_AD_SLOT_TOP} />
  <ModuleList
    modules={modules}
    totalCount={data.listItems.length}
    nextPage={pageCount > 1 ? 2 : undefined}
    pageUrlTemplate="/module-list/{page}.json"
    client:load
  />
  {pageCount > 1 && (
    <noscript>
      <p class="module-list-noscript"><a href="/page/2/">Browse more modules</a></p>
    </noscript>
  )}
</Layout>
